@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
:root {
  --primary-white: #fff;
  --primary-orange:#f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef3434;
  --primary-hover-red : #df2956;
}
body{
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: #f5eded !important;
}
p{
  line-height: 2rem;
  text-align: justify;
}
nav{
  z-index: 2;
}

.colorbckgroun{
  background-color: #f5eded !important;
  color: black;
}
.logo{
  width: 14.5rem;
  margin-bottom: 1.5rem;
}

.nav {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  margin-bottom: 1rem;

}

.navbar-nav > li .link {
  margin: 0 0.75rem 0 1rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  text-decoration: none;
  padding-top: 0.5rem;
}

.navbar-nav > li > .link.active, .navbar-nav > li > .link.active:focus {

  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > .link:hover {

  border-top: 0.1875rem solid var(--primary-orange);
}

.header-container{
  position: relative;
  background-image: url('background-header.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-header{
  display: flex;
  position: absolute;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.main-header > h1 {

  color: var(--primary-orange);
  text-transform: uppercase;
}
.typed-text{
  color: var(--primary-white);
  font-size: 2rem;
  z-index: 2;
}

.btn-header{
  border: 1px solid var(--primary-red);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.625rem 0.75rem;
  margin: 2rem;
  color: var(--primary-white);
  z-index: 2;
}
.btn-header:hover{
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;

}
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width:768px) {
   .particles-canvas{
     display: none;
   }
}

.profile-img{
  width: 16rem;
  padding: .3rem;
  border-radius: 50%;
  border: 1px solid var(--primary-orange);
  margin: 2rem 0 2rem 0;
}
.about-head{
  color: var(--primary-orange);
  text-transform:uppercase;
}

@media(max-with: 468px) {
  .profile-img {
    width: 10rem;
  }
}

.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
}

.services .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.services .box:hover .icon {
  color: var(--primary-dark);
}

.services .box:hover .circle {
  background: var(--primary-white);
}

.services .box:hover p {
  color: var(--primary-white);
}

-----footer-----
.footer {
  padding: 30rem;
  background-color: var(--primary-orange);
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
  color: white;
}

figcaption  a{
  text-decoration: none;
  padding: 1rem;
  color: black;
  background-color:var(--primary-orange) !important; 
}

/**************************************************************
  *
  * CSS Contacter moi
  *
  ***************************************************************/
  .nouscontacter{
    width: 45%;
}
.lignenouscontacter{
    width: 45%;
}
.contenue-form{
    margin : 29px 24px 120px 20px;
}
.nom{
    width: 395px;
}
.prenom{
    width: 500px;
    margin: 0 0 0 20px;
}
.tele-courriel{
    width: 656px;
}
input{
    background-color:#d5dad5;
    height: 66px;
    border: none;
    margin:34px !important;
    font-weight: medium;
    font-size: 24px;
    border-radius: 5px;
    color:  #034726;
}

:placeholder-shown{
    padding: 10px;
}

.monform{
    position: relative;
}

#button{
    position: absolute;
    background-color: #A2E3C4;;
    color: rgb(17, 16, 16);
    border-radius: 5px;
    height: 86px;

 }

 .projet-1{
     border-radius: 90%;
 }

